{% extends 'base.html' %}

{% block content %}

<div class="col-md-6 offset-md-3">
    {% if user.is_authenticated %}
    <h1>Change Password</h1>
    <br/>
    <form method="POST" action="{% url 'change_password' %}">
        {% csrf_token %}
        <div class="mb-3">
            <label class="form-label">New Password</label>
            <input type="text" class="form-control" name="new_password" required>
        </div>
        <input type="hidden" name="token" value="{{ request.GET.token }}">
        <button type="submit" class="btn btn-primary">Change</button>
    </form>
    {% endif %}
</div>

{% endblock %}